{% extends 'base.html'%}
{% block title %}
<title>Платежная система для интернет магазина</title>
{% endblock %}
{% block body %}
<body>
 <p><h1>О платежной системе</h1>
 В нашем интернет-банкинге платежей для вашего бизнеса используется платежная система <b><h2>"Fondy"</b></h2>
 <hr size=4 color="green">
 

<b>2021 </b>
В Казахстане онлайн осуществляются 83% всех безналичных платежей.
Надежные и безопасные платежные системы способствуют повышению стабильности финансовой системы государства в целом, обеспечивают эффективное использование финансовых ресурсов и улучшают ликвидность финансовых рынков, а также гарантируют своевременный расчет между продавцами и покупателями.
 </p>
 </body>
{% endblock %}

